USE [master]
GO
/****** Object:  Database [DRL]    Script Date: 24/02/2024 14:14:47 ******/
CREATE DATABASE [DRL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DRL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DRL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DRL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DRL_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DRL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DRL]
GO
/****** Object:  Table [dbo].[CurrentOrder]    Script Date: 24/02/2024 14:14:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CurrentOrder](
	[CurrentOrder] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Go]    Script Date: 24/02/2024 14:14:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Go](
	[Action] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Go1]    Script Date: 24/02/2024 14:14:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Go1](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Action] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LastItem]    Script Date: 24/02/2024 14:14:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LastItem](
	[Queue1] [varchar](10) NULL,
	[Queue2] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShipTimes]    Script Date: 24/02/2024 14:14:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShipTimes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ShipTime] [real] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[State]    Script Date: 24/02/2024 14:14:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[State](
	[Queue1] [varchar](50) NULL,
	[Queue2] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StateDRL]    Script Date: 24/02/2024 14:14:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StateDRL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Queue1] [int] NULL,
	[Queue2] [int] NULL,
	[LastQ1] [nchar](10) NULL,
	[LastQ2] [nchar](10) NULL,
	[Current] [nchar](10) NULL,
	[TimeNOW] [real] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainAct]    Script Date: 24/02/2024 14:14:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainAct](
	[Action] [nchar](15) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainActions]    Script Date: 24/02/2024 14:14:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainActions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Action] [nchar](15) NULL
) ON [PRIMARY]
GO
USE [master]
GO
